VSX MQTT bridge.flow
[{"id":"40cb63b5.4ccebc","type":"tcp request","z":"15713e07.b68eca","server":"VSX-923.local","port":"8103","out":"sit","splitc":"12","name":"VSX link","x":520,"y":220,"wires":[["dcd18656.3a5538"]]},{"id":"cfe83f7.a8035c","type":"mqtt out","z":"15713e07.b68eca","name":"","topic":"/receiver/power","qos":"1","retain":"true","broker":"3379fd30.edb16a","x":1240,"y":360,"wires":[]},{"id":"96c01bfd.40e4c8","type":"mqtt in","z":"15713e07.b68eca","name":"","topic":"/receiver/power","qos":"1","broker":"3379fd30.edb16a","x":140,"y":180,"wires":[["317b086e.8a2d48"]]},{"id":"5f380971.92d1d","type":"inject","z":"15713e07.b68eca","name":"ON","topic":"","payload":"\"P0\\r\\n\"","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":1020,"wires":[["24d42ed0.991102"]]},{"id":"58cb0136.2c645","type":"inject","z":"15713e07.b68eca","name":"OFF","topic":"","payload":"\"PF\\r\\n\"","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":1060,"wires":[["24d42ed0.991102"]]},{"id":"7e94557c.3972e4","type":"function","z":"15713e07.b68eca","name":"UTF8","func":"msg.payload = msg.payload.toString('utf8').replace(/\\r\\n$/,'');\n//msg.payload = msg.payload.toString('utf8')\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":220,"wires":[["b0ed587b.ae5058","f0c6ebb.b663b98"]]},{"id":"b0ed587b.ae5058","type":"switch","z":"15713e07.b68eca","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"PWR","vt":"str"},{"t":"cont","v":"VOL","vt":"str"},{"t":"cont","v":"MUT","vt":"str"},{"t":"cont","v":"FN","vt":"str"},{"t":"cont","v":"SPK","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":510,"y":400,"wires":[["df903141.7fed1","ebf4511e.5b1a08"],["e8ef0168.ebec08","ebf4511e.5b1a08"],["5619b200.7d143","ebf4511e.5b1a08"],["93e03097.cf80c8","ebf4511e.5b1a08"],["97a56b67.24672","ebf4511e.5b1a08"]],"outputLabels":["PWR","VOL","MUT","INPUT",null]},{"id":"8137d382.36941","type":"inject","z":"15713e07.b68eca","name":"?VOL","topic":"","payload":"\"?V\\r\\n\"","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":1140,"wires":[["24d42ed0.991102"]]},{"id":"ccba7b81.c6e948","type":"mqtt out","z":"15713e07.b68eca","name":"","topic":"/receiver/volume","qos":"1","retain":"true","broker":"3379fd30.edb16a","x":1240,"y":420,"wires":[]},{"id":"bc2d3470.c91df","type":"function","z":"15713e07.b68eca","name":"###VL","func":"var setVolume = flow.get('setVolume')||0;\nvar volume = parseInt(msg.payload);\nif (setVolume == volume){\n    return null;\n} else{\n    if (volume < 100){\n        msg.payload = \"0\" + msg.payload;\n    }\n    msg.payload = msg.payload + \"VL\\r\\n\";\n    return msg;\n}","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["40cb63b5.4ccebc","f1b84bb5.0d73a"]]},{"id":"ea1bcbeb.18bcd","type":"mqtt in","z":"15713e07.b68eca","name":"","topic":"/receiver/volume","qos":"1","broker":"3379fd30.edb16a","x":140,"y":240,"wires":[["bc2d3470.c91df"]]},{"id":"83310bed.26594","type":"inject","z":"15713e07.b68eca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":720,"wires":[["5ec0de0.5c37f24"]]},{"id":"5ec0de0.5c37f24","type":"function","z":"15713e07.b68eca","name":"","func":"msg.payload = Math.floor((Math.random() * 50));\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":720,"wires":[["b528c0d9.ae00b8"]]},{"id":"b528c0d9.ae00b8","type":"mqtt out","z":"15713e07.b68eca","name":"","topic":"/receiver/volume","qos":"1","retain":"true","broker":"3379fd30.edb16a","x":480,"y":720,"wires":[]},{"id":"43e83139.207538","type":"inject","z":"15713e07.b68eca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":840,"wires":[["d6268392.7a6638"]]},{"id":"d6268392.7a6638","type":"function","z":"15713e07.b68eca","name":"","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":840,"wires":[["2ed32333.13baec"]]},{"id":"2ed32333.13baec","type":"mqtt out","z":"15713e07.b68eca","name":"","topic":"/receiver/power","qos":"1","retain":"true","broker":"3379fd30.edb16a","x":480,"y":840,"wires":[]},{"id":"e637341.04ef6c8","type":"trigger","z":"15713e07.b68eca","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"500","extend":true,"units":"ms","reset":"","bytopic":"all","name":"throttle","x":900,"y":420,"wires":[["adbe8741.0e23f8"]]},{"id":"adbe8741.0e23f8","type":"function","z":"15713e07.b68eca","name":"setVolume","func":"response = parseInt(msg.payload)\nflow.set(\"setVolume\", response);\nif (response > 0){\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":1050,"y":420,"wires":[["ccba7b81.c6e948"]]},{"id":"25fd175d.279158","type":"mqtt in","z":"15713e07.b68eca","name":"","topic":"/receiver/input","qos":"1","broker":"3379fd30.edb16a","x":130,"y":360,"wires":[["1c05f94c.b7c8cf"]]},{"id":"1c05f94c.b7c8cf","type":"function","z":"15713e07.b68eca","name":"##FN","func":"var setInput = flow.get('setInput')||\"setInput\";\ninputArray = flow.get(\"inputArray\");\n\nif (msg.payload == setInput){\n    return null;\n} else{\n    msg.payload = inputArray[msg.payload] + \"FN\\r\\n\";\n    return msg;\n}","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["40cb63b5.4ccebc","f1b84bb5.0d73a"]]},{"id":"9fb2a3bb.e319e8","type":"inject","z":"15713e07.b68eca","name":"?F","topic":"","payload":"\"?F\\r\\n\"","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":1220,"wires":[["24d42ed0.991102"]]},{"id":"e93d7ea3.900478","type":"mqtt out","z":"15713e07.b68eca","name":"","topic":"/receiver/input","qos":"1","retain":"true","broker":"3379fd30.edb16a","x":1240,"y":540,"wires":[]},{"id":"188b70bc.63052f","type":"inject","z":"15713e07.b68eca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":900,"wires":[["5f0bd80.c7eaba8"]]},{"id":"5f0bd80.c7eaba8","type":"function","z":"15713e07.b68eca","name":"","func":"inputArray = flow.get(\"inputArray\");\n\nvar values = Object.getOwnPropertyNames(inputArray);\nvar keys = Object.keys(inputArray);\nvar index = Math.floor(Math.random() * Object.keys(inputArray).length)\n\nmsg.payload = keys[index];\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":900,"wires":[["70d537c3.20d8c8"]]},{"id":"70d537c3.20d8c8","type":"mqtt out","z":"15713e07.b68eca","name":"","topic":"/receiver/input","qos":"1","retain":"true","broker":"3379fd30.edb16a","x":480,"y":900,"wires":[]},{"id":"ce758ffb.47d598","type":"trigger","z":"15713e07.b68eca","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"500","extend":true,"units":"ms","reset":"","bytopic":"all","name":"throttle","x":900,"y":540,"wires":[["672882a9.bc7db4"]]},{"id":"672882a9.bc7db4","type":"function","z":"15713e07.b68eca","name":"setInput","func":"inputArray = flow.get(\"inputArray\");\nvar values = Object.keys(inputArray).map(k => inputArray[k]);\nvar keys = Object.keys(inputArray);\nvar index = values.indexOf(msg.payload);\n\nmsg.payload = keys[index];\n\nflow.set(\"setInput\", keys[index]);\nreturn msg;\n","outputs":1,"noerr":0,"x":1040,"y":540,"wires":[["e93d7ea3.900478"]]},{"id":"4c0655d9.d99d3c","type":"config","z":"15713e07.b68eca","name":"","properties":[{"p":"inputArray","pt":"flow","to":"{\"DVR/BDR\":\"15\",\"iPod/USB\":\"17\",\"HDMI 1\":\"19\",\"HDMI 2\":\"20\",\"HDMI 3\":\"21\",\"HDMI 4\":\"22\",\"HDMI 5\":\"23\",\"HDMI 6\":\"24\",\"BD\":\"25\",\"NETWORK cyclic\":\"26\",\"HDMI cylic\":\"31\",\"ADAPTER PORT\":\"33\",\"HDMI 7\":\"34\",\"INTERNET RADIO\":\"38\",\"MEDIA SERVER\":\"44\",\"FAVORITES\":\"45\",\"MHL\":\"48\",\"DVD\":\"04\",\"SAT/CBL\":\"06\",\"TV\":\"05\",\"CD\":\"01\",\"TUNER\":\"02\"}","tot":"json"},{"p":"speakersArray","pt":"flow","to":"{\"OFF\":\"0\",\"A\":\"1\",\"B\":\"2\",\"AB\":\"3\",\"SPEAKERS (cyclic)\":\"9\"}","tot":"json"}],"active":true,"x":130,"y":120,"wires":[]},{"id":"93e03097.cf80c8","type":"change","z":"15713e07.b68eca","name":"FN ","rules":[{"t":"change","p":"payload","pt":"msg","from":"FN","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":540,"wires":[["ce758ffb.47d598"]]},{"id":"e8ef0168.ebec08","type":"change","z":"15713e07.b68eca","name":"VOL","rules":[{"t":"change","p":"payload","pt":"msg","from":"VOL","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":420,"wires":[["e637341.04ef6c8"]]},{"id":"38fab963.ee64be","type":"inject","z":"15713e07.b68eca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":780,"wires":[["9ed94091.6e47b8"]]},{"id":"9ed94091.6e47b8","type":"function","z":"15713e07.b68eca","name":"","func":"msg.payload = Math.floor((Math.random() * 1 +1));\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":780,"wires":[["170d0aaf.4be0cd"]]},{"id":"170d0aaf.4be0cd","type":"mqtt out","z":"15713e07.b68eca","name":"","topic":"/receiver/mute","qos":"1","retain":"true","broker":"3379fd30.edb16a","x":480,"y":780,"wires":[]},{"id":"36c6eadc.8b29a6","type":"mqtt in","z":"15713e07.b68eca","name":"","topic":"/receiver/mute","qos":"1","broker":"3379fd30.edb16a","x":130,"y":300,"wires":[["b8fa9de7.7a8638"]]},{"id":"5619b200.7d143","type":"change","z":"15713e07.b68eca","name":"MUT","rules":[{"t":"change","p":"payload","pt":"msg","from":"MUT","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":480,"wires":[["7c4ce06.adf642"]]},{"id":"7c4ce06.adf642","type":"trigger","z":"15713e07.b68eca","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"500","extend":true,"units":"ms","reset":"","bytopic":"all","name":"throttle","x":900,"y":480,"wires":[["d49e933a.67ce08"]]},{"id":"d49e933a.67ce08","type":"function","z":"15713e07.b68eca","name":"setMute","func":"response = parseInt(msg.payload);\nif (response === 0){\n    msg.payload = 1;\n    flow.set(\"setMute\", parseInt(msg.payload));\n    return msg;\n}else if(response === 1){\n    msg.payload = 0;\n    flow.set(\"setMute\", parseInt(msg.payload));\n    return msg;\n}else{\n    return null;\n}\n","outputs":1,"noerr":0,"x":1040,"y":480,"wires":[["fe080e9a.c96d88"]]},{"id":"fe080e9a.c96d88","type":"mqtt out","z":"15713e07.b68eca","name":"","topic":"/receiver/mute","qos":"1","retain":"true","broker":"3379fd30.edb16a","x":1240,"y":480,"wires":[]},{"id":"10c61236.8e3126","type":"trigger","z":"15713e07.b68eca","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"500","extend":true,"units":"ms","reset":"","bytopic":"all","name":"throttle","x":900,"y":360,"wires":[["f6b8527f.b6dbd"]]},{"id":"f6b8527f.b6dbd","type":"function","z":"15713e07.b68eca","name":"setPower","func":"response = parseInt(msg.payload);\nif (response === 0){\n    msg.payload = 1;\n    flow.set(\"setPower\", parseInt(msg.payload));\n    return msg;\n}else if(response === 1){\n    msg.payload = 0;\n    flow.set(\"setPower\", parseInt(msg.payload));\n    return msg;\n}else{\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":1040,"y":360,"wires":[["cfe83f7.a8035c"]]},{"id":"df903141.7fed1","type":"change","z":"15713e07.b68eca","name":"PWR","rules":[{"t":"change","p":"payload","pt":"msg","from":"PWR","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":360,"wires":[["10c61236.8e3126"]]},{"id":"bf7f05bb.1ffc88","type":"inject","z":"15713e07.b68eca","name":"?MUT","topic":"","payload":"\"?M\\r\\n\"","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":1180,"wires":[["24d42ed0.991102"]]},{"id":"ebf4511e.5b1a08","type":"debug","z":"15713e07.b68eca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":320,"wires":[]},{"id":"546f8c4f.a33154","type":"comment","z":"15713e07.b68eca","name":"for testing only","info":"","x":140,"y":680,"wires":[]},{"id":"b8fa9de7.7a8638","type":"function","z":"15713e07.b68eca","name":"MUT","func":"var setMute = flow.get('setMute')||0;\nvar mute = parseInt(msg.payload);\nif (setMute === mute){\n    return null;\n}else if (mute === 0){\n    msg.payload = \"MF\\r\\n\";\n    return msg;\n}else if (mute === 1){\n    msg.payload = \"MO\\r\\n\";\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["40cb63b5.4ccebc","f1b84bb5.0d73a"]]},{"id":"317b086e.8a2d48","type":"function","z":"15713e07.b68eca","name":"PWR","func":"var setPower = flow.get('setPower')||0;\nvar power = parseInt(msg.payload);\nif (setPower === power){\n    return null;\n}else if (power === 0){\n    msg.payload = \"PF\\r\\n\";\n    return msg;\n}else if (power === 1){\n    msg.payload = \"PO\\r\\n\";\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["40cb63b5.4ccebc","f1b84bb5.0d73a"]]},{"id":"f0c6ebb.b663b98","type":"debug","z":"15713e07.b68eca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":120,"wires":[]},{"id":"51c5569f.4131d","type":"inject","z":"15713e07.b68eca","name":"?SPK","topic":"","payload":"\"?SPK\\r\\n\"","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":1260,"wires":[["24d42ed0.991102"]]},{"id":"97a56b67.24672","type":"change","z":"15713e07.b68eca","name":"SPK","rules":[{"t":"change","p":"payload","pt":"msg","from":"SPK","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":600,"wires":[["168fbf46.9cbab9"]]},{"id":"168fbf46.9cbab9","type":"trigger","z":"15713e07.b68eca","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"500","extend":true,"units":"ms","reset":"","bytopic":"all","name":"throttle","x":900,"y":600,"wires":[["f96884b9.fbc4a8"]]},{"id":"f96884b9.fbc4a8","type":"function","z":"15713e07.b68eca","name":"setSpeakers","func":"speakersArray = flow.get(\"speakersArray\");\nvar values = Object.keys(speakersArray).map(k => speakersArray[k]);\nvar keys = Object.keys(speakersArray);\nvar index = values.indexOf(msg.payload);\n\nmsg.payload = keys[index];\n\nflow.set(\"setSpeakers\", keys[index]);\nreturn msg;\n","outputs":1,"noerr":0,"x":1050,"y":600,"wires":[["32a8d668.2b0fba"]]},{"id":"32a8d668.2b0fba","type":"mqtt out","z":"15713e07.b68eca","name":"","topic":"/receiver/speakers","qos":"1","retain":"true","broker":"3379fd30.edb16a","x":1230,"y":600,"wires":[]},{"id":"b93fa1eb.68aea8","type":"mqtt in","z":"15713e07.b68eca","name":"","topic":"/receiver/speakers","qos":"1","broker":"3379fd30.edb16a","x":150,"y":420,"wires":[["766d7a8.80cf584"]]},{"id":"766d7a8.80cf584","type":"function","z":"15713e07.b68eca","name":"#SPK","func":"var setSpeakers = flow.get('setSpeakers')||\"setSpeakers\";\nspeakersArray = flow.get(\"speakersArray\");\n\nif (msg.payload == setSpeakers){\n    return null;\n} else{\n    msg.payload = speakersArray[msg.payload] + \"SPK\\r\\n\";\n    return msg;\n}","outputs":1,"noerr":0,"x":310,"y":420,"wires":[["40cb63b5.4ccebc","f1b84bb5.0d73a"]]},{"id":"29efe499.8a1184","type":"inject","z":"15713e07.b68eca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":960,"wires":[["bde9977d.dd99d"]]},{"id":"bde9977d.dd99d","type":"function","z":"15713e07.b68eca","name":"","func":"speakersArray = flow.get(\"speakersArray\");\n\nvar values = Object.getOwnPropertyNames(speakersArray);\nvar keys = Object.keys(speakersArray);\nvar index = Math.floor(Math.random() * Object.keys(speakersArray).length)\n\nmsg.payload = keys[index];\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":960,"wires":[["a5fbdb9c.a9fed"]]},{"id":"a5fbdb9c.a9fed","type":"mqtt out","z":"15713e07.b68eca","name":"","topic":"/receiver/speakers","qos":"1","retain":"true","broker":"3379fd30.edb16a","x":470,"y":960,"wires":[]},{"id":"f1b84bb5.0d73a","type":"debug","z":"15713e07.b68eca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":120,"wires":[]},{"id":"b5c4861f.14b7a8","type":"comment","z":"15713e07.b68eca","name":"VSX MQTT","info":"","x":130,"y":80,"wires":[]},{"id":"a05484e6.608048","type":"inject","z":"15713e07.b68eca","name":"?P","topic":"","payload":"\"?P\\r\\n\"","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":1100,"wires":[["24d42ed0.991102"]]},{"id":"dcd18656.3a5538","type":"split","z":"15713e07.b68eca","name":"","splt":"\\r\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":220,"wires":[["7e94557c.3972e4"]]},{"id":"b6edfde7.1e7c3","type":"inject","z":"15713e07.b68eca","name":"?SAC","topic":"","payload":"\"?SAC\\r\\n\"","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":1300,"wires":[["24d42ed0.991102"]]},{"id":"a5170763.5acfd8","type":"comment","z":"15713e07.b68eca","name":"clean messages from receiver","info":"","x":740,"y":280,"wires":[]},{"id":"24d42ed0.991102","type":"link out","z":"15713e07.b68eca","name":"","links":["d5b8f801.4b5978"],"x":295,"y":1020,"wires":[]},{"id":"d5b8f801.4b5978","type":"link in","z":"15713e07.b68eca","name":"VSX_input","links":["24d42ed0.991102"],"x":335,"y":120,"wires":[["40cb63b5.4ccebc"]]},{"id":"160ddd72.606d63","type":"comment","z":"15713e07.b68eca","name":"TCP connection and inputs and responses","info":"port 8103 on receiver is configured to accept tcp inputs.","x":620,"y":180,"wires":[]},{"id":"3379fd30.edb16a","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
